<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name=" Annotation Suite">
  <test thread-count="5" name="TestNG AnnotationTest1">
    <classes>
      <class name="annotations.ClassOne"/>
       <class name="annotations.ClassTwo"/>
    </classes>
  </test> <!-- Test -->
  <test  name="TestNG AnnotationTest2">
  <classes>
  <class name="annotations.ClassThree"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
